@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .link {
    @apply bg-gray-300 text-center p-2 text-sm sm:text-xl font-semibold  rounded-xl w-full;
  }
  .link:hover {
    @apply bg-gray-400 duration-300 ease-out;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000000;
}
